/* General Styles */
#pieChart {
	position: absolute;
	top: 100px;
	left: 350px;
	width: 400px;
	height: 400px;
	z-index: 2;
}

#barChart {
	position: absolute;
	top: 250px;
	left: 1000px;
	height: 400px;
}

#lineChart {
	position: absolute;
	top: 100px;
	left: 1000px;
	height: 150px;
}

#paragarph {
	position: relative;
	top: 150px;
	left: 30px;
	width: 300px;
	height: 400px;
	font-size: 18px;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

/* Narration Info Styles */
.narrationTitle {
	font-size: 30px;
	font-weight: bold;
}

.narrationText {
	font-size: 16px;
}

/* Pie Chart Styles */

#pieTooltip {
	position: absolute;
}

/* Bar Chart Styles */

#barTooltip {
	position: absolute;
}

/* Line Chart Styles */

.line {
	fill: none;
	stroke-width: 3px;
}

#lineChartTitle {
	font-size: 72px;
	fill: grey;
	text-anchor: middle;
	font-weight: bold;
}