/* General Styles */
#pieChart {
	position: absolute;
	top: 100px;
	left: 400px;
	width: 400px;
	height: 400px;
	z-index: 2;
}

#barChart {
	position: absolute;
	top: 250px;
	left: 1000px;
	height: 400px;
}

#lineChart {
	position: absolute;
	top: 100px;
	left: 1000px;
	height: 150px;
}

/* #narration {
	position: absolute;
	top: 300px;
	left: 400px;
	width: 400px;
	height: 400px;
	z-index: 1;
} */

#paragarph {
	position: relative;
	top: 150px;
	left: 50px;
	/* right: 100px; */
	width: 300px;
	height: 400px;
}

.title {
	/* font-family: Verdana; */
	font-size: 18px;
	font-weight: bold;
}

/* Narration Info Styles */
.narrationTitle {
	font-size: 32px;
	font-weight: bold;
}

.narrationText {
	/* font-family: Verdana; */
	font-size: 18px;
	/* font-weight: bold; */
	/* font-style: italic; */
}

/* Pie Chart Styles */
/* .slice { */
	/* font-size: 12pt; */
	/* font-family: Verdana; */
	/* fill: black; */
	/* font-weight: bold; */
/* } */

#pieTooltip {
	position: absolute;
}

/* Bar Chart Styles */

#barTooltip {
	position: absolute;
}

/* Line Chart Styles */

.line {
	fill: none;
	/*stroke: steelblue;*/
	stroke-width: 3px;
}

#lineChartTitle {
	/* font-family: Verdana; */
	font-size: 72px;
	fill: grey;
	text-anchor: middle;
	font-weight: bold;
	/*font-style: italic;*/
}